{% extends 'base.html' %}
{% load static %}


{% block content %}
{% include 'includes/store-nav.html' %}

<div class="container-fluid pt-5 pb-5 background-container h-100">
    <div class="container cart-container my-auto">
        <div class="row">
            {% if order.get_cart_items == 0 %}
            <div class="col-lg-6 m-auto">
                <div class="box-element">
                    <div class="box-element">
                        <p class="text-center mt-5 lead mb-5 text-danger">Your bag is empty.</p>
                        <p class="text-center">Find out more about our amazing products <a
                                href="{% url 'story' %}">here</a></p>
                        <div class="text-center mt-5">
                            <a href="{% url 'store' %}" class="text-center btn btn-primary">Go To Store</a>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-lg-10 col-md-12 col-sm-12 col-12 m-auto">
                <div class="box-element">
                    <div class="box-element">

                        <a href="{% url 'store' %}" class="btn btn-primary">Go To Store</a>
                        <br>
                        <br>
                        <table class="table">
                            <tr>
                                <th>
                                    <p class="pt-3">Items: <strong>{{ order.get_cart_items }}</strong></p>
                                </th>
                                <th>
                                    <p class="pt-3">Total: <strong> ${{ order.get_cart_total|floatformat:2 }}</strong>
                                    </p>
                                </th>
                                <th>
                                    <a class="float-end btn btn-primary" href="{% url 'checkout' %}">Checkout</a>
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
                <br>

                <div class="box-element">
                    <div class="row cart-row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2"></div>
                        <div class="col-lg-4 col-md-2 col-sm-2 col-2"><strong>Item</strong></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center"><strong>Price</strong></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center"><strong>Quantity</strong></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center"><strong>Total</strong></div>
                    </div>
                    {% for item in items %}
                    <div class="row cart-row">
                        <div class="col-lg-2 col-md-2 col-sm-1 col-1 text-center"><img class="row-image"
                                src="{{ item.product.imageURL }}" alt="product-cart-image"></div>
                        <div class="col-lg-4 col-md-2 col-sm-2 col-2">
                            <p class="pt-3"> {{ item.product.name }}</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                            <p class="pt-3">${{ item.product.price }}</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                            <p class="quantity">{{ item.quantity }}</p>
                            <div class="quantity pt-2">
                                <img data-product="{{item.product.id}}" data-action="add"
                                    class="chg-quantity update-cart" src="{{MEDIA_URL}}arrow-up.png" alt="arrow-up">

                                <img data-product="{{item.product.id}}" data-action="remove"
                                    class="chg-quantity update-cart" src="{{MEDIA_URL}}arrow-down.png" alt="arrow-down">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                            <p class="pt-3">${{item.get_total|floatformat:2}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include 'includes/footer.html'%}

{% endblock content%}