{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'includes/store-nav.html' %}
<div class="container-fluid sign-up-container mb-5">
    <div class="container">
        <br>
        <div class="col-12 d-flex align-items-center justify-content-center ">
            <h1 class="fs-3">Product Management | <span class="text-danger">Add a product</span></h1>
        </div>
        {% if request.user.is_superuser %}
        <div class="row d-flex align-items-center justify-content-center ">
            <div class="box-element">
                <div class="box-element">
                    <form method="POST" action="{% url 'add_product' %}" class="form mb-2"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12">
                            {{ add_form.category|as_crispy_field }}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ add_form.name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ add_form.price |as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <hr class="w-75 m-auto">
                            <p class="text-center m-auto pt-3 text-danger">Blade details</p>
                            <hr class="w-75 m-auto">
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    {{ add_form.blade |as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{ add_form.guard |as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ add_form.guard |as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ add_form.scabbard |as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ add_form.handle |as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <hr class="w-75 m-auto">
                            <p class="text-center m-auto pt-3 text-danger">Length and Width</p>
                            <hr class="w-75 m-auto">
                            <br>
                            <div class="col-md-4">
                                {{ add_form.length_with_sleeve |as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ add_form.length_of_the_blade |as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ add_form.length_of_the_handle |as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ add_form.width_of_the_blade |as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ add_form.blade_thickness |as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ add_form.weight |as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ add_form.description |as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                {{ add_form.is_available |as_crispy_field }}
                            </div>
                            <div class="col-md-5">
                                {{ add_form.stock |as_crispy_field }}
                            </div>
                            <div class="col-md-5">
                                {{ add_form.image |as_crispy_field }}
                            </div>
                        </div>

                        <div class="text-right">
                            <a class="btn btn-primary" href="{% url 'store' %}">Back</a>
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop-add">Add Product</button>
                        </div>

                        <!-- Modal for the add event -->
                        <div class="modal fade" id="staticBackdrop-add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop-addLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="staticBackdrop-addLabel">confirm the action</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>are you sure that you want to <span class="text-danger">add</span> the product?</p>
                                    <p>the action <span class="text-danger text-decoration-underline">can't</span> be reversed</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-secondary">Understood</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        <!-- Modal for the add event -->
                    </form>
                </div>
            </div>
        </div><br><br>
        {% endif %}
    </div>
</div>
{% endblock %}


