{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid contact-header">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center align-items-center p-5">
            <h1>get in touch</h1>
        </div>
    </div>
</div>
<div class="container-fluid contact-content">
    <div>
    </div>
    <div class="row">
        <div class="col-12 mt-5 d-flex align-items-center justify-content-center flex-column">
            <div class="card">
                <div class="card-header">
                    CONTACT FORM
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Let us know what's on your mind</h5>
                    <hr>
                    <form class="card-text" action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                {{ form.contact_name | as_crispy_field }}
                            </div>
                            <div class="col-6">
                                {{ form.contact_email | as_crispy_field }}
                            </div>
                        </div>
                        <hr>
                        <div class="col-12">                      
                            {{ form.contact_details | as_crispy_field }}
                        </div>
                        <p class="float-end text-danger">* all fields are required <i class="fa fa-circle-exclamation"></i></p>
                        <div class="text-right">
                            <a class="btn btn-primary" href="{% url 'home' %}">Back</a>
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop-contact">Send</button>
                        </div>

                        <!-- Modal for the add event -->
                        <div class="modal fade" id="staticBackdrop-contact" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop-contactLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="staticBackdrop-contactLabel">confirm the action</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>are you sure that you want to <span class="text-danger">send</span> the request?</p>
                                    <p>the action <span class="text-danger text-decoration-underline">can't</span> be reversed</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-secondary">Understood</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        <!-- Modal for the add event -->
                    </form>
                 
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'includes/footer.html'%}

{% endblock %}


{% block extrajs %}

{% endblock %}