{% extends 'base.html' %}
{% load static %}

{% block stripe %}
<script src="{% static '/js/checkout.js' %}" defer></script>
<script src="https://js.stripe.com/v3/" async></script>

{% endblock%}

{% block content %}
{% include 'includes/store-nav.html' %}

<div class="container-fluid pt-5 pb-5 background-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="box-element order-summary">
                    <a class="btn btn-primary" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                    <hr>
                    <h3>Order Summary</h3>
                    <hr>
                    <div class="row cart-row">
                        {% for item in items %}
                        <div class="col-lg-3 col-md-2"><img class="row-image" src="{{ item.product.imageURL }}">
                        </div>
                        <div class="col-lg-4 col-md-2">
                            <p class="mt-3">{{ item.product.name }}</p>
                        </div>
                        <div class="col-lg-3 col-md-2">
                            <p class="mt-3">${{ item.product.price }}</p>
                        </div>
                        <div class="col-lg-2 col-md-1">
                            <p class="mt-3">x{{ item.quantity }}</p>
                        </div>
                        <span class="pb-3"></span>
                        {% endfor %}
                    </div>
                    <div class="mt-5 d-flex align-items-end justify-content-center flex-column pb-4">
                        <h5>Items: {{ order.get_cart_items }}</h5>
                        <h5>Total: ${{ order.get_cart_total|floatformat:2 }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box-element" id="form-wrapper">
                    <form id="form">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <div>
                            <img class="img-fluid mx-auto d-block" src="{{MEDIA_URL}}free_shipping.png"
                                alt="free-shipping">
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-element" id="payment-info">
                                    <input type="text" class="w-100 btn btn-primary" id="submitBtn"
                                        value="Finish order"></input><br>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img id="stripe-logo" class="mx-auto" src="{{ MEDIA_URL}}stripe1.png"
                                            alt="stripe-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div id="user-info">
                            <img class="img-fluid mx-auto d-block" src="{{MEDIA_URL}}free_shipping.png"
                                alt="free-shipping">
                            <hr>
                            <p class="ps-2">personal details</p>
                            <hr>
                            <div class="w-100">
                                <div class="form-field">
                                    <input required class="form-control" type="text" name="first_name"
                                        placeholder="First Name..">
                                </div>
                                <div class="form-field float-end">
                                    <input required class="form-control" type="text" name="last_name"
                                        placeholder="Last Name..">
                                </div>
                            </div>
                            <div class="form-field w-100">
                                <input required class="form-control" type="email" name="email" placeholder="Email..">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-element" id="payment-info">
                                    <input type="text" class="w-100 btn btn-primary" id="payment-btn"
                                        value="Finish order"></input><br>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img id="stripe-logo" class="mx-auto" src="{{ MEDIA_URL}}stripe1.png"
                                            alt="stripe-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                </div>
                <br>
            </div>
        </div>

    </div>
</div>


{% include 'includes/footer.html'%}
{% endblock content%}