@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --primary-color: #79031D;
    --secondary-color: #000407;
    --text-color: #f5f7f7;
    --text-backgroung-color: #edb518;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    position: relative;
}

#error-btn-1,
#error-btn-2 {
    width: fit-content !important;
}

/* TOASTS */
.toast-container {
    position: absolute;
    top: 5%;
    right: 2%;
    z-index: 9999999;
    font-family: 'Bangers', sans-serif;
}

/* END OF TOASTs */

/* Main Navigation */
.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-button {
    position: absolute;
    top: 20px;
    left: 60px;
    width: fit-content;
    text-decoration: none;
    color: #fff;
    right: 100px;
    font-family: 'Bangers', sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
    cursor: pointer;
    z-index: 5;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transform: translateX(-100%);
    z-index: 5;
}

.ul {
    position: absolute;
    left: 15%;
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: left;
    height: 100vh;
    flex-direction: column;
}

.ul li {
    margin: 30px 0;
    z-index: 99;
    list-style-type: none;
}

.ul li a {
    text-decoration: none;
    color: white;
    transition: 2s;
    font-family: 'Bangers', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    mix-blend-mode: difference;
    letter-spacing: 2px;
}

.ul li a:hover {
    transition: 2s;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    font-style: italic;
}

.background {
    position: absolute;
    width: 400px;
    filter: grayscale(1);
    height: 400px;
    mix-blend-mode: difference;
}

.nav-item-bg-1 {
    top: 45px;
    left: 80px;
    background: url('/media/Katana-Blacksmith.jpeg') no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateY(-50%);
    transition: 1s ease-in-out;
}

.nav-item-bg-2 {
    top: 100px;
    left: 150px;
    background: url('/media/blacksmith-at-work.jpeg') no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateY(-50%);
    transition: 1s ease-in-out;
}

.nav-item-bg-3 {
    top: 250px;
    left: 200px;
    background: url('/media/katana-store.jpeg') no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateY(-50%);
    transition: 1s ease-in-out;
}

.nav-item-bg-4 {
    top: 400px;
    left: 200px;
    background: url('/media/japanese-samurai.jpeg') no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateY(-50%);
    transition: 1s ease-in-out;
}

.nav-item-bg-5 {
    top: 400px;
    left: 200px;
    background: url('/media/great-wave.jpeg') no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateY(-50%);
    transition: 1s ease-in-out;
}

.nav-item-1:hover~.nav-item-bg-1,
.nav-item-2:hover~.nav-item-bg-2,
.nav-item-3:hover~.nav-item-bg-3,
.nav-item-4:hover~.nav-item-bg-4,
.nav-item-5:hover~.nav-item-bg-5 {
    opacity: 1;
    transform: translateY(0%);
    transition: 1s ease-in-out;
}

/* Social links */

.social {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    height: 80px;
    width: 100%;
}

.social ul {
    display: flex;
    list-style-type: none;
    margin-right: 50px;
}

.social ul li {
    margin: 0px 10px;
    letter-spacing: 2px;
}

.social ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Bangers';
    font-size: 18px;
    text-transform: uppercase;
}

/* End of Main Navigation */

/* INDEX PAGE */

.image-hero {
    height: 100vh;
    width: 100%;
    position: relative;
}

.side-menu {
    width: 35%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    font-family: 'Bangers', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

.side-menu h1,
.side-menu h2,
.side-menu p {
    padding: 30px;
}

.side-menu a {
    color: #fff;
    position: relative;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu a::after,
.side-menu a::before {
    content: "";
    border: 2px solid #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    transition: transform 0.3s ease;

}

.side-menu a:hover {
    color: darkgray;
}

.side-menu a:hover:after {
    transform: translate(-5px, -5px);

}

.side-menu a:hover:before {
    transform: translate(5px, 5px);
}

#play-icon {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

#background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

@media (min-aspect-ratio: 16/9) {
    #background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #background-video {
        width: auto;
        height: 100%;
    }
}

/* OUR STORY PAGE */

.banner {
    height: 160px;
    background-color: var(--secondary-color);
    text-transform: uppercase;
    font-family: 'Bangers', sans-serif;
    color: var(--text-color);
    position: relative;
}

.content {
    background-color: var(--primary-color);
    font-family: 'Cuprum', sans-serif;
    overflow-x: hidden;
}

#story-hero-image {
    margin-top: 30px;
    height: 400px;
    width: 50%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.video-how-its-made {
    width: 520px;
    height: 540px;
}

.steps-heading {
    background-color: var(--text-backgroung-color);
    color: var(--primary-color)
}

.blacksmith-video {
    margin: 0 auto;
}

/* END OUR STORY PAGE */

/* FOOTER */

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0;
    margin: 0;
    width: 100vw;
    font-family: 'Bangers', sans-serif;
}

footer a {
    color: var(--text-backgroung-color);
}

footer a:hover {
    color: var(--primary-color)
}

.hr {
    background-color: var(--text-backgroung-color);
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-input {
    width: 400px;
}

.newsletter-input::placeholder {
    text-align: center;
}

/* END OF FOOTER */

/* CONTACT PAGE */
.contact-header {
    font-family: 'Bangers', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.contact-content {
    background-color: var(--primary-color);
    height: 100vh;
    letter-spacing: 2px;
}

.card {
    font-family: 'Bangers', sans-serif;
    background-color: var(--text-backgroung-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: #000407;
    width: 50%;
    padding-bottom: 50px;
}

.card .card-header {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

textarea.form-control {
    min-height: calc(10.5em + 0.75rem + 2px);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: var(--secondary-color) !important;
}

/* END OF CONTACT PAGE */


/* STORE PAGE */

.store-nav-container {
    font-family: "Bangers", sans-serif;
    letter-spacing: 3px;
    height: 70px;
    padding-top: 100px;
}

#cart-icon {
    height: 35px;
    width: 35px;
}

#cart-total {
    display: block;
    text-align: center;
    padding-top: 2px;
    color: #fff;
    background-color: var(--primary-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
}

.products-header {
    color: var(--secondary-color);
    letter-spacing: 4px;
}

input.form-control:focus,
input.form-control:active {
    border-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
    outline: 0 none;
}

.products-container {
    font-family: "Bangers", sans-serif;
    letter-spacing: 3px;
    height: 110vh;
}

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: var(--text-color);
    border-radius: 4px;
    padding: 10px;
}

#product-name {
    font-size: 25px;
}

#product-price {
    margin-bottom: 0 !important;
}

.thumbnail {
    width: 100%;
    height: 250px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
    border-radius: 0 0 4px 4px;
}

.btn-secondary {
    background-color: var(--text-backgroung-color);
    color: var(--secondary-color);
}

.page-link {
    background-color: var(--text-backgroung-color);
    color: var(--secondary-color);
    transition: all 0.5s;
}

.page-link:hover {
    background-color: var(--text-backgroung-color);
    color: var(--secondary-color);
}

#page-numbers:hover {
    background-color: var(--primary-color) !important;
}

.mascotte-header {
    font-family: 'Bangers', sans-serif;
    font-size: 18px;
}

.mascotte {
    width: 150px;
    height: 150px;
}

/* END OF STORE PAGE */

/* PRODUCT DETAILS PAGE */

.accordion-button:not(.collapsed) {
    color: var(--secondary-color);
    background-color: var(--text-color)
}

.accordion-button {
    letter-spacing: 3px;
}

.accordion-button:focus {
    box-shadow: none;
}

.item-description {
    font-size: 14px !important;
}

#product-page-icon {
    height: 20px;
    width: 20px;
}

.text-danger {
    color: var(--primary-color) !important;
}

/* END OF PRODUCT DETAILS PAGE */


/* CART PAGE */

.cart-container {
    font-family: 'Bangers', sans-serif;
    letter-spacing: 3px;
    z-index: 1;
}

.background-container {
    background-color: var(--text-color);
    z-index: -1;
}

.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.row-image {
    width: 100px;
}

.quantity {
    display: inline-block;
    font-size: 18px;
    padding-right: 10px;
}

.chg-quantity {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
}

.chg-quantity:hover {
    opacity: .6;
}


.hidden {
    display: none !important;
}

/* END OF CART PAGE */

/* CHECKOUT PAGE */

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}

#form-wrapper {
    background-color: var(--text-color);
    font-family: 'Bangers', sans-serif;

}

#form input {
    letter-spacing: 2px;
}

::placeholder {
    letter-spacing: 3px;
}

.order-summary {
    background-color: var(--text-color);
    font-family: 'Bangers', sans-serif;
    letter-spacing: 3px;
}

#payment-info {
    font-family: 'Bangers', sans-serif;
}

#payment-btn {
    letter-spacing: 3px;
}

#payment-btn:focus,
#submitBtn:focus {
    box-shadow: none;
    background-color: var(--secondary-color);
}

#stripe-logo {
    height: 76px;
}

/* END CHECKOUT PAGE */

/* LOGIN PAGE */

.sign-up-container {
    font-family: 'Bangers', sans-serif;
    letter-spacing: 3px;
    height: 70vh;
}

.form-container input[type=text],
.form-container input[type=password],
.form-container input[type=email] {
    letter-spacing: 2px;
    width: 50%;
}

.form-container input::placeholder {
    color: transparent;
}

.footer-sign-in {
    z-index: -1;
}

/* END OF LOGIN PAGE */

/* SIGNUP PAGE */

#signup_form input {
    width: 250px;
    margin-right: 50px;
}

/* END OF SIGNUP PAGE */

/* MODAL CSS */

.modal-header {
    background-color: var(--text-backgroung-color);
}

/* END OF MODAL CSS */

/* CHECKOUT REDIRECT PAGE */

#success-container,
#cancelled-container {
    font-family: 'Bangers', sans-serif;
}

/* END SUCCESS CHECKOUT PAGE */

/* MEDIA QUERIES */
@media screen and (max-width: 2560px) {
    .products-container {
        height: 110vh;
    }
}

@media screen and (max-width: 1440px) {
    .products-container {
        height: 110vh;
    }
}

@media screen and (max-width: 1400px) {
    .products-container {
        height: auto;
    }

    img.img-thumbnail.mascotte {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .products-container {
        height: 110vh;
    }

    img.img-thumbnail.mascotte {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1198.98px) {
    .products-container {
        height: 100vh;
    }

    .side-menu h2 {
        align-items: center;
        text-align: center;
    }

    .mascotte-container {
        padding-top: 100px;
    }

    #product-price,
    #product-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 991.98px) {

    #product-price,
    #product-name {
        font-size: 16px;
    }

    .products-container {
        height: 140vh;
    }

    .order-summary {
        margin-bottom: 20px;
    }

    th[scope=col] {
        font-size: 12px;
    }

    td {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .side-menu {
        width: 45%
    }

    #play-icon {
        left: 20%;
    }

    .ul li a {
        font-size: 25px;
    }

    .social ul li a {
        font-size: 14px;
    }

    .background {
        height: 200px;
        width: 200px;
    }

    .card {
        width: 70%;
    }

    .mascotte-header {
        font-size: 12px;
    }

    .error-header {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .card {
        width: 75%;
    }

    .cart-container {
        width: 100%;
    }

    .row-image {
        display: none;
    }
}

@media screen and (min-width: 767px) {

    #story-hero-image {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #play-icon {
        display: none;
    }

    #story-hero-image {
        width: 100%;
    }

    .card {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .ul li {
        margin: 17px 0;
    }

    .form-container {
        width: 94vw;
    }

    #signup_form input {
        margin-right: 10px;
    }

    .products-container {
        height: 135vh;
    }

    .product {
        width: 100%;
        margin: 0 auto;
    }

    .product>.box-element.product {
        width: 100%;
    }
}

@media screen and (max-width: 575.98px) {
    .products-container {
        height: 250vh;
    }

    .product {
        width: 70%;
        margin: 0 auto;
    }

    .mascotte {
        width: 70px;
        height: 70px;
    }

    .error-header {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .quantity {
        font-size: 12px;
        padding: 0;
    }

    .quantity img {
        height: 5px;
        width: 5px;
    }

    .box-element table h5 {
        font-size: 12px;
    }

    .video-how-its-made {
        width: 300px;
        height: 300px;
    }

    .content p {
        font-size: 12px;
        text-align: center;
    }

    .steps-heading {
        font-size: 14px;
    }

    .navbar-button {
        top: 10px;
        left: 20px;
        font-size: 18px;
    }

    .side-menu {
        margin: 0;
        width: 100% !important;
    }

    .ul {
        width: auto;
    }

    .nav-item-bg-1 {
        top: 115px;
    }

    .nav-item-bg-2 {
        top: 175px;
    }

    .social {
        height: 30px;
    }

    .social ul {
        margin-right: 0;
    }

    .social ul li a {
        font-size: 12px;
    }

    .side-menu {
        margin: 0;
        width: 50%;
    }

    .side-menu h2,
    .side-menu p {
        font-size: 12px;
        text-align: center;
    }

    .ul li a {
        font-size: 14px;
    }

    .background {
        width: 150px;
        height: 150px;
    }

    .form-container {
        width: 90vw;
        font-size: 12px;
    }

    .form-container button,
    .form-container a {
        font-size: 10px;
    }

    .card-body {
        font-size: 12px;
    }

    .card-text p.float-end.text-danger {
        font-size: 10px;
    }

    .card-text div.text-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-text div.text-right a,
    .card-text div.text-right button {
        margin: 5px;
    }

    .product {
        width: 100%;
        margin: 0 auto;
    }

    footer {
        font-size: 12px;
    }

    footer h4 {
        font-size: 16px;
    }

    footer a.p-5 {
        padding: 1rem !important;
    }

    #signup_form input {
        margin-right: 5px;
        width: 150px;
    }

    input.btn.btn-primary {
        font-size: 10px;
    }

    .navbar-button {
        margin-top: 15px;
    }

    .cart-row {
        font-size: 12px;
    }

    #stripe-logo {
        height: 50px;
        width: 100%;
    }

    #store-messages {
        display: none;
    }

    span.float-end.text-danger,
    h2.logo-font.mb-3 {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .newsletter-input {
        width: 200px;
    }

    .social ul {
        flex-direction: column-reverse;
    }

    .side-menu a {
        padding: 10px 20px 5px;
        font-size: 14px;
    }

    .form-container {
        width: 98vw;
    }

    .login-details .btn-secondary {
        padding: 2px;
    }

    footer {
        font-size: 10px;
    }

    footer h4 {
        font-size: 14px;
    }

    .nav-item-bg-2 {
        top: 240px;
        left: 80px;
    }

    .nav-item-bg-3 {
        top: 250px;
        left: 110px;
    }

    .nav-item-bg-4 {
        left: 130px;
    }

    .nav-item-bg-5 {
        left: 130px;
    }

    .login-details .btn-secondary {
        padding: 5px;
    }

    input.btn.btn-primary {
        font-size: 9px;
    }

    form.signup p label {
        font-size: 10px;
    }

    .mascotte {
        width: 75px;
        height: 75px;
    }

    .navbar-button {
        margin-top: 15px;
    }

    .cart-row {
        flex-direction: column;
    }
}