@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --primary-color: #79031D;
    --secondary-color: #000407;
    --text-color: #f5f7f7;
    --text-backgroung-color: #edb518;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* Main Navigation */
.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.navbar-button {
    position: absolute;
    top: 20px;
    left: 60px;
    text-decoration: none;
    color: #fff;
    right: 100px;
    font-family: 'Bangers', sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
    cursor: pointer;
    z-index: 5;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transform: translateX(-100%);
    z-index: 5;
}

.ul {
    position: absolute;
    left: 15%;
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: left;
    height: 100vh;
    flex-direction: column;
}

.ul li {
    margin: 30px 0;
    z-index: 99;
    list-style-type: none;
}

.ul li a {
    text-decoration: none;
    color: white;
    transition: 2s;
    font-family: 'Bangers', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    mix-blend-mode: difference;
    letter-spacing: 2px;
}

.ul li a:hover{
    transition: 2s;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    font-style: italic;
}

.background {
    position: absolute;
    width: 400px;
    filter: grayscale(1);
    height: 400px;
    mix-blend-mode: difference;
}

.nav-item-bg-1 {
    top: 45px;
    left: 80px;
    background: url('/media/Katana-Blacksmith.jpeg') no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateY(-50%);
    transition: 1s ease-in-out;
}

.nav-item-bg-2 {
    top: 100px;
    left: 150px;
    background: url('/media/blacksmith-at-work.jpeg') no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateY(-50%);
    transition: 1s ease-in-out;
}

.nav-item-bg-3 {
    top: 250px;
    left: 200px;
    background: url('/media/katana-store.jpeg') no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateY(-50%);
    transition: 1s ease-in-out;
}

.nav-item-bg-4 {
    top: 400px;
    left: 200px;
    background: url('/media/japanese-samurai.jpeg') no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateY(-50%);
    transition: 1s ease-in-out;  
}

.nav-item-bg-5 {
    top: 400px;
    left: 200px;
    background: url('/media/great-wave.jpeg') no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transform: translateY(-50%);
    transition: 1s ease-in-out;  
}

.nav-item-1:hover ~ .nav-item-bg-1,
.nav-item-2:hover ~ .nav-item-bg-2,
.nav-item-3:hover ~ .nav-item-bg-3,
.nav-item-4:hover ~ .nav-item-bg-4,
.nav-item-5:hover ~ .nav-item-bg-5 {
    opacity: 1;
    transform: translateY(0%);
    transition: 1s ease-in-out;
}

/* Social links */

.social {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;   
    height: 80px;
    width: 100%;
}

.social ul {
    display: flex;
    list-style-type: none;
    margin-right: 50px;
}

.social ul li{
    margin: 0px 10px;
    letter-spacing: 2px;
}

.social ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Bangers';
    font-size: 18px;
    text-transform: uppercase;
}

/* End of Main Navigation */

/* INDEX PAGE */

.image-hero {
    height: 100vh;
    width: 100%;
    position: relative;
}

.side-menu {
    width: 35%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    font-family: 'Bangers', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

.side-menu h1,
.side-menu h2,
.side-menu p {
    padding: 30px;
}

.side-menu a {
    color: #fff;
    position: relative;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu a::after,
.side-menu a::before {
    content: "";
    border: 2px solid #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    transition: transform 0.3s ease;

}

.side-menu a:hover {
    color:darkgray;
}

.side-menu a:hover:after {
    transform: translate(-5px, -5px);
  
}

.side-menu a:hover:before {
    transform: translate(5px, 5px);
}

#play-icon {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

#background-video {
    position: absolute;
    right: 0;
    bottom:0;
    z-index: 1;
    display: none;
}

@media (min-aspect-ratio: 16/9) {
    #background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #background-video {
        width: auto;
        height: 100%;
    }
}

/* OUR STORY PAGE */

.banner {
    height: 160px;
    background-color: var(--secondary-color);
    text-transform: uppercase;
    font-family: 'Bangers', sans-serif;
    color: var(--text-color);
    position: relative;
}

.content {
    background-color: var(--primary-color);
    font-family: 'Cuprum', sans-serif;
    overflow-x: hidden;
}

#story-hero-image {
    margin-top: 30px;
    height: 400px;
    width: 50%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.video-how-its-made {
    width: 520px;
    height: 540px;
}

.steps-heading {
    background-color: var(--text-backgroung-color);
    color: var(--primary-color)
}

.blacksmith-video {
    margin: 0 auto;
}

/* END OUR STORY PAGE */

/* FOOTER */

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0;
    margin: 0;
    width: 100vw;
    font-family: 'Bangers', sans-serif;
}

footer a {
    color: var(--text-backgroung-color);
}

footer a:hover {
    color: var(--primary-color)
}

.hr {
    background-color: var(--text-backgroung-color);
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* END OF FOOTER */

/* CONTACT PAGE */
.contact-header {
    font-family: 'Bangers', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.contact-content {
    background-color: var(--primary-color);
    height: 70vh;
}

.card {
    font-family: 'Bangers', sans-serif;
    background-color: var(--text-backgroung-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: #000407;
}

.card .card-header {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

textarea.form-control {
    min-height: calc(10.5em + 0.75rem + 2px);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    letter-spacing: 2px;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

/* END OF CONTACT PAGE */

/* MEDIA QUERIES */

@media screen and (min-width: 767px) {
    #story-hero-image {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #story-hero-image {
        width: 100%;
    }
}