<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-4 mb-2">
                <h3>Kenpachi Store</h3>
            </div>
        </div>
        <div class="row">
            <form class="" method="post" action="{% url 'subscription' %}">
                {% csrf_token %}
                <div class="form-group d-flex align-items-center justify-content-center flex-column">
                  <label>Subscribe to get the latest Articles</label><br>
                  <input class="newsletter-input" type="email" name="email" placeholder="Enter Email to Subscribe"><br>
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>            
        </div>
        <hr class="hr">
        <div class="row">
            <div class="submenu text-center mt-2 mb-2">
                <a href="#" class="p-5 text-decoration-none">home</a>
                <a href="#" class="p-5 text-decoration-none">store</a>
                <a href="#" class="p-5 text-decoration-none">contact us</a>
                <a href="#" class="p-5 text-decoration-none">login</a>
                <hr class="hr">
            </div>
        </div>
        <div class="row footer-menu mb-3">
            <div class="col-3 col-md-3 d-flex flex-column">
                <h4>Customer service</h4>
                <a href="#" class="text-decoration-none ms-2">Contact</a>
                <a href="#" class="text-decoration-none ms-2">Order & Delivery</a>
                <a href="#" class="text-decoration-none ms-2">Pay</a>
                <a href="#" class="text-decoration-none ms-2">Returns</a>
                <a href="#" class="text-decoration-none ms-2">Warranty & Repair</a>
            </div>
            <div class="col-3 col-md-3 d-flex flex-column">
                <h4>About Us</h4>
                <a href="#" class="text-decoration-none ms-2">The Benefits</a>
                <a href="#" class="text-decoration-none ms-2">News</a>
                <a href="#" class="text-decoration-none ms-2">Working at Kenpachi</a>
                <a href="#" class="text-decoration-none ms-2">Sustainability</a>
                <a href="#" class="text-decoration-none ms-2">Company App</a>
                <a href="#" class="text-decoration-none ms-2">Company details</a>
            </div>
            <div class="col-3 col-md-3 d-flex flex-column">
                <h4>Doing business with us</h4>
                <a href="#" class="text-decoration-none ms-2">Business selling</a>
                <a href="#" class="text-decoration-none ms-2">Business order</a>
                <a href="#" class="text-decoration-none ms-2">Business Gift Cards</a>
                <a href="#" class="text-decoration-none ms-2">To advertise</a>
                <a href="#" class="text-decoration-none ms-2">Affiliate Marketing</a>
                <a href="#" class="text-decoration-none ms-2">Suppliers</a>
            </div>
            <div class="col-3 col-md-3 d-flex flex-column">
                <h4>Do you want to follow us?</h4>
                <p><a href="#" class="text-decoration-none">Sign up</a> to the newsletter</p>
                <a href="https://www.facebook.com/profile.php?id=100088979418667" class="text-decoration-none ms-2" target="_blank">facebook</a>
                <a href="https://twitter.com/" class="text-decoration-none ms-2" target="_blank">twitter</a>
                <a href="https://www.instagram.com/" class="text-decoration-none ms-2" target="_blank">instagram</a>
                <a href="https://nl.pinterest.com/" class="text-decoration-none ms-2" target="_blank">pimterest</a>
                <a href="https://www.youtube.com/" class="text-decoration-none ms-2" target="_blank">youtube</a>
            </div>
        </div>
        <hr class="hr">
        <div class="row text-center">
            <p>Copyright &copy 2022</p>
        </div>
    </div>
</footer>