 <!-- Navigation Bar -->
 <div class="container-fluid g-0 nav-container">
     <span class="navbar-button" onclick="toggle()">
         menu
     </span>
 </div>

 <div class="menu" onclick="togglec()">
     <span class="navbar-button">
         close
     </span>
     <!-- NAV ITEMS -->
     <ul class="ul">
         <li class="nav-item-1 nav-list"><a href="{% url 'home' %}">Home</a></li>
         <li class="nav-item-2 nav-list"><a href="{% url 'story' %}">Our Story</a></li>
         <li class="nav-item-3 nav-list"><a href="{% url 'store' %}">The Blacksmith Store</a></li>
         <li class="nav-item-4 nav-list"><a href="{% url 'contact' %}">Contact Us</a></li>
         {% if user.is_authenticated %}
         <li class="nav-item-5 nav-list"><a href="{% url 'account_logout' %}">Logout</a></li>
         {% else %}
         <li class="nav-item-5 nav-list"><a href="{% url 'account_login' %}">Login or Sign Up</a></li>
         {% endif%}

         <!-- END NAV ITEMS -->
         <!-- NAV IMAGES -->
         <li class="nav-item-bg-1 background"></li>
         <li class="nav-item-bg-2 background"></li>
         <li class="nav-item-bg-3 background"></li>
         <li class="nav-item-bg-4 background"></li>
         <li class="nav-item-bg-5 background"></li>
         <!-- END NAV IMAGES -->
     </ul>

     <!-- SOCIAL Links -->
     <div class="social">
         <ul>
             <li class="social-li"><a href="https://www.facebook.com/profile.php?id=100088979418667"
                     target="_blank">facebook</a></li>
             <li class="social-li"><a href="https://www.instagram.com/" target="_blank">instagram</a></li>
             <li class="social-li"><a href="https://twitter.com/" target="_blank">twitter</a></li>
             <li class="social-li"><a href="https://nl.pinterest.com/" target="_blank">pinterest</a></li>
             <li class="social-li"><a href="https://www.youtube.com/" target="_blank">youtube</a></li>
         </ul>
     </div>
     <!-- END SOCIAL Links -->
 </div>
 <!-- End Navigation Bar -->